asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
beautifulsoup4==4.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==3.3.2
cssselect==1.0.3
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
elasticsearch==6.2.0
facebook-business==3.0.1
grpcio==1.12.1
grpcio-tools==1.12.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
kafka-python==1.4.3
kq==2.0.0
lxml==4.6.3
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
nltk==3.4.5
numpy==1.14.5
parsel==1.4.0
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
protobuf==3.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==18.0.0
python-snappy==0.5.2
queuelib==1.5.0
regex==2017.4.5
requests==2.20.0
scikit-learn==0.19.1
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
spacy==2.0.11
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.23.4
Twisted==20.3.0
ujson==5.4.0
urllib3==1.24.2
w3lib==1.19.0
wrapt==1.10.11
zope.interface==4.5.0
